body, html {
    height: 100%;
    margin: 0;
    padding:0;
    width: 100%;
}
.todo-details {
    display:flex;
    flex-direction:column;

    header {
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        padding:.5em 1em;

        h2 {
            text-align: center;

        }
    }

    .item {
        flex:1;
        padding: 1em;
    }

}
.badge-success {
    color: #fff;
    background-color: #28a745;
    
}
.badge-danger {
    color: #fff;
    background-color: #dc3545;
    
}
.todo {

    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    margin: 2em;

    form {

        display:flex;
        flex-direction:column;
        margin-right: 2em;

        label {
            display: flex;
            flex-direction:column;
            margin-bottom: 1em;
        }
    }

    ul {
        list-style-type:none;
        margin:0;
        padding:0;
        text-align: center;
        margin-left: 50px;
        margin-bottom: 20px;
        // margin-left: 400px;

        li {

            align-items: center;
            display:flex;
            flex-direction:row;
            font-size: .75em;
            margin: .75em .5em;

            &.complete-true {
              span {
                background: pink;
                text-decoration:line-through;
                &:hover {
                   background: seagreen;
                }
              }
            }

            span {
                background: #e0e0e0;
                cursor:pointer;
                &:hover {
                    background: pink;
                }
            }
             span, input {
                 border: .5px solid #eee;
                 display:inline-block;
                 padding: .2em .25em;
                 width: 300px;
             }

            button {
                background: transparent;
                border:none;
                color:blue;
                cursor:pointer;
                padding:0;
                margin: 0 .75em;
            }

        }
    }

}


.card-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    padding: 0;
}

 .card{
    height: 140px;
    margin-bottom: 3%;
    border: 1px solid gray;
    box-shadow: 0 0  #585858, 0 0  #585858, 0 0 10px #585858;

   
}
.card:hover{
    cursor: pointer;
    background-color: rgb(232, 219, 255);;
}
.status{
    width: 20%;
    font-family: none;
    font-size: 1em;
    height: 65%;
    border-radius: 15px;
}


.card-text{
    text-align: center;
    line-height: 5;
    font-size: 15px;
    font-weight: bold;

}

.badge-success:hover{
    cursor: pointer;
}
.text-muted{
    text-align: center;
    line-height: 5;
    font-size: 15px;
    font-weight: bold;
    float: right;
    margin-top: 46px;
    margin-right: 10px;
}
